.App {
  text-align: center;
  background-color: #efefef;
  min-height: 100vh;
    padding: 0 1em;
    margin: 0 auto;
}


.App-header {
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  color: rgb(16, 15, 15);
  padding: 20px;
}

.search-form{
  color: black;
  margin-bottom: 20px;
  padding: 25px;
}

.search-results{
    margin-bottom: 20px;
}

.App-container {
  padding: 20px;
}

.flexy-container{
  display: flex;
  flex-wrap: wrap;
}

.flexy-item{
  flex-grow: 1;
}

button{
    background-color: #4c88af;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 25px;
    margin-right: 10px;
}

.ReactModal__Body--open{
  overflow: hidden;
}

.pageName{
  display: inline-block;
  margin-right: 5px;
  width: 24px;
  background-color:#4c88af;
  margin-bottom: 20px;
}

.txtbox{
  font-size : 20px;
  width: 75%;
}

.errorMsg{
  color: red;
}